* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightblue;
}

.card {
  width: 500px;
  height: 500px;
}

image {
  width: 100px;
  height: 100px;
}

.column {
  float: left;
  width: 10%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
